
p {font-size: larger; text-align: justify;}
p {margin-left: 50pt; margin-right: 50pt}
body {background-color: cornsilk;}
title {text-align: center;}
h1 {text-align: center; margin-bottom: 100pt;}
body {margin: 50pt;}
h1 {font-size: xx-large;}
figcaption {text-align: center; font-size: small;}